#!/bin/bash
#PBS -N SRAID.download
#PBS -l nodes=1,mem=2048mb,walltime=20:00:00

cd /mnt/cc_torque_gemmake/PBS-GEM

BASEDIR=$(cat basedir.txt)

cd $BASEDIR/FastQ

$BASEDIR/Software/sratoolkit.2.10.5-centos_linux64/bin/fastq-dump --split-files SRAID
