#!/bin/bash
#PBS -N SRAID.download
#PBS -l nodes=1,mem=2048mb,walltime=20:00:00

cd /mnt/orangefs/cc_torque_gemmake

BASEDIR=$(pwd)

cd $BASEDIR/FastQ

$BASEDIR/Software/sratoolkit.2.10.5-centos_linux64/bin/vdb-config -i & read -t 3 
$BASEDIR/Software/sratoolkit.2.10.5-centos_linux64/bin/fastq-dump --split-files SRAID
